<section data-ng-controller="HomeController">
 <div class="jumbotron">
<div class="container">
        <h1>Bienvenue sur Community !</h1>
		
        <p>Community est un blog pour tout le monde. Ici vous pouvez créer, consulter et gerer des articles.</p>
		
      </div>
 </div>
 
 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Creer des articles</h2>
          <p>Creer facilement des articles sur les sujet qui vous passionne. Faite partager vos passion a la communaute</p>
        </div>
		
		
		
        <div class="col-md-4">
          <h2>Consulter des articles</h2>
          <p> Lisez les articles les plus recents, et tenez-vous au courant des dernieres nouvelles</p>
        </div>
        <div class="col-md-4">
          <h2>Personaliser votre profil</h2>
          <p>editez votre profil, changer votre mot de passe </p>
        </div>
      </div>
 
</section>
